body{
    margin:0;
    padding:0;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
    
}
h1{
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
    font-size: 50px;
    line-height: 20px;
}
h2{
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
    font-size: 30px;
}
p{
    color:#3E3E3E;
    font-size: 16px;
    line-height: 28px;
}
h3{
    font-weight: bold;
    
}
.menu-bar{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    height:100px;
}
.menu-bar ul{
    margin-right:200px;
    list-style-type: none;
}
.menu-bar ul li{
    float:right;
    padding:10px;
}
.menu-bar ul li a{
    text-decoration: none;
    color:#3C3C3C;
    font-weight: bold;
}
.introduction-area{
    height:400px;
    padding-bottom:150px;
}
.half-width{
    width:40%;
    float:left;
    margin-left:5%;
    padding-left:2%;

}
.half-width p{
    margin-bottom:60px;
}
.half-width img{
    width:80%;
}
.high-light{
    color:#4225B6;
}
.link-btn{
    text-decoration: none;
    padding:10px 20px;
    background-image:linear-gradient(#4225B6,#5D69E9);
    color:white;
    font-weight: 500;
    border-radius: 5px;
}
.about-area{
    height:400px;
    margin-bottom:180px;
}
.project-area{
    height:500px;
    background-color: #F8F9FC;
    padding:100px 100px 150px 100px;
}
.project-area h2{
    text-align: center;
    padding-bottom: 50px;
    color:#363958;
    font-size:40px;
}
.single-project{
    height:70%;
    width:25%;
    float:left;
    margin:2%;
    padding:1.2%;
    background-color: white;
    border-radius: 20px;
    box-shadow:0px 0px 100px rgba(0, 0, 0, 0.205);
}
.single-project img{
    width:100%;
}
.inquiry-area{
    background-image:url(icons/inquiry-bg-new.png);
    background-repeat:no-repeat;
    background-position: center;
    background-size:50%;
    margin-bottom:0;
    height:250px;
}
.inquiry-area a{
    height:300px;
}
.inquiry-bg{
    background-color: #F8F9FC;
}
.inquiry{
    text-align: center;
    /* padding:0 auto; */
    padding-top: 120px;;
    padding-left:360px;
}
.single-inquiry{
    width:30%;
    float:left;
    margin-left:2%;
    padding-left:2%;
    text-align:center;
}
.single-inquiry a{
    margin-top: 100px;
}
.single-inquiry h1{
    margin-top: 1px;
    color:white;
}
.testimonial-area{
    height:600px;
    padding-top:80px;
    text-align: center;
    vertical-align: middle;
    margin-bottom:80px;
}
.testimonial-area h2{
    text-align: center;
    color:#363958;
    font-size:40px;
    margin-bottom:0px;
}
.testimonial-area h3{
    margin-top:10px;
    font-size:18px;
    font-weight: 500;
}
.testimonial-area p{
    text-align: center;
    font-size: 20px;

}
.testimonial-area img{
    margin-top:50px;
}
footer{
    text-align:center;
    height:100px;
}
footer h1{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 40px;
}
footer h2{
    color:#696871;
}
footer img{
    width:30px;
    padding-left:15px;
    padding-bottom:10px;
}
